# -*- mode: yaml -*-

CompileFlags: # Tweak Parsing
    Add: [-xc, -Wall, -Wextra, -std=c17]
    # Remove: -W* # strip all other warning-related flags
    Compiler: clang  # Change argv[0] of compile flags to `clang`

Diagnostics:
    ClangTidy:
        Add: [bugprone*, performance*, readability*, misc*, clang-analyzer*]
    Includes:
        IgnoreHeader: [criterion*]
        # AnalyzeAngledIncludes: false

# MissingIncludes: Strict
Completion:
    AllScopes: true
