# -*- mode: yaml -*-

CompileFlags: # Tweak Parsing
    Compiler: clang  # Change argv[0] of compile flags to `clang`
    Add: [-xc, -Wall, -Wextra, -std=c17]
    Remove: []
    Suppress: [-Wunused-function, -Wunused-variable, -Wunused-parameter, -W#pragma-messages]
Diagnostics:
    ClangTidy:
        Add: [bugprone*, misc*, performance*, clang-analyzer*]
        # Add: [bugprone*, performance*, readability*, misc*, clang-analyzer*]
        Remove: [readability-identifier-length, readability-magic-numbers, bugprone-easily-swappable-parameters, misc-unused*, ]
        FastCheckFilter: Strict # Strict: Run quick checks only, Loose: Run unless they are known to be slow, None: Check all always
    Includes:
        IgnoreHeader: [*/criterion/*]
        AnalyzeAngledIncludes: false

Hover:
        ShowAKA: Yes
Index:
        Background: Build
        StandardLibrary: No
Completion:
        AllScopes: Yes

# MissingIncludes: Strict
Completion:
    AllScopes: true
